{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> SSWC {% block title %} {% endblock title %} </title>

	<!-- Favicon -->
	<link rel="icon" href="{% static 'website/images/favicon.png' %}?v=2">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'website/css/style.css' %}"/>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Dosis:700|Roboto:300" rel="stylesheet">

	{% block head_js %}

	{% endblock head_js %}

</head>

<body>

	<header>
		<a href="{% url 'website:home' %}">
			<img src="{% static 'website/images/logo.svg' %}" alt="sswc logo">
			<h1>Southern Sierra Wildflower Club</h1>
		</a>
	</header>

	{% block contents %}

	{% endblock contents %}

	<footer>
		
	</footer>

	{% block js %}

	{% endblock js %}
</body>
</html>