{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Test Project | Contact</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'contact/css/style.css' %}"/>

	<!-- Favicon -->
	<link rel="icon" href="{% static 'contact/images/favicon.ico' %}?v=2">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

{% block contents %}

{% block email %}

	<div class="container">
	<div class="col-md-5">
		<div id="contact-form">  
			<form id="email-form" role="form" method="POST" action="{% url 'contact:contact_page' %}" class="form-area">
				{% csrf_token %}
				{{ form.non_field_errors }}

				<br style="clear:both">
				<h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
				<div class="form-group">
					<input type="text" class="form-control" id="name" name="name" placeholder="Name" {% if form.name.value %} value="{{ form.name.value }}" {% endif %} required>
					{% if form.name.errors %}
						<p>{{ form.name.errors|first }}</p>
					{% endif %}
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="email" name="email" placeholder="Email" {% if form.email.value %} value="{{ form.email.value }}" {% else %} value="" {% endif %} required>
					{% if form.email.errors %}
						<p>{{ form.email.errors|first }}</p>
					{% endif %}
				</div>
				<div class="form-group">
				<textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" maxlength="140" rows="7">{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
					<span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
					{% if form.message.errors %}
						<p>{{ form.message.errors|first }}</p>
					{% endif %}
				</div>

				<div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="onSubmit" data-size="invisible"></div>
				
				<input type="submit" value="Submit Form" class="btn btn-primary pull-right" onclick="validateCaptcha()">
			</form>
		</div>
	</div>
	</div>

	<script>
		$(document).ready(function(){ 
			$('#characterLeft').text('140 characters left');
			$('#message').keydown(function () {
				var max = 140;
				var len = $(this).val().length;
				if (len >= max) {
					$('#characterLeft').text('You have reached the limit');
					$('#characterLeft').addClass('red');
					$('#btnSubmit').addClass('disabled');            
				} 
				else {
					var ch = max - len;
					$('#characterLeft').text(ch + ' characters left');
					$('#btnSubmit').removeClass('disabled');
					$('#characterLeft').removeClass('red');            
				}
			});    
		});
	</script>

	<!-- reCAPTCHA -->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<script>
		function validateCaptcha() {
			event.preventDefault();
			grecaptcha.execute();
		}
		function onSubmit(token) {
			document.getElementById("email-form").submit();
		}
	</script>

{% endblock %}

{% endblock %}

</body>
</html>